<script src="{{ 'email-collection-popup.js' | asset_url }}" defer="defer"></script>

<div id="email-collection-popup">
    <img src="{{ 'greetings.png' | asset_url }}" height="auto" width="650px"/>
    <div class="special wavy-underline">
        All Will Be Well In The Garden
    </div>
  <div class="popup-text">
    From rare plants to handcrafted goods,
    we cultivate the strange and the beautiful
    on our mountainside in Vermont.  
    Be the first to hear about 
    what’s unfurling in the garden.
  </div>
</div>

<style>
    #email-collection-popup {
        width: 750px;
        padding: 20px;
        background-color: var(--background-color-secondary);
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 2001;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        color: var(--font-color-dark);

        .popup-text {
            width: 60%;
            text-align: center;
            line-height: 1.5;
        }
    }
  
</style>