<link rel="preload" as="image" href="{{ "mobile-menu-background.png" | asset_url }}">
<div id="mobile-nav">
  <div class="exit-container">
    <img src="{{ "exit.png" | asset_url }}" height="20px" width="20px"/>
  </div>
  <div id="mobile-menu">
    <div><a href="{{ collections['web-shop'].url }}" class="{% if template == 'collection' or template == 'product' %}wavy-underline{% endif %}">THE SHOP</a></div>
    <div><a href="/pages/nursery" class="{% if page.handle == 'nursery' %}wavy-underline{% endif %}">THE NURSERY</a></div>
    <div><a href="/pages/garden-design" class="{% if page.handle == 'garden-design' %}wavy-underline{% endif %}">GARDEN DESIGN</a></div>
  </div>
</div>
<style>
  #mobile-nav {
    display: none;
    position: fixed;
    inset: 0;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    width: 100vw;
    height: 100vh;
    background-image: url('{{ "mobile-menu-background.png" | asset_url }}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2000;
    overflow: hidden;
  }
  
  #mobile-nav .exit-container {
    direction: rtl;
  }
  
  #mobile-nav .exit-container img {
    margin: 20px 20px 0 0;
  }
  
  #mobile-nav .exit-container img:hover {
    cursor: pointer;
  }
  
  #mobile-nav #mobile-menu {
    height: 2%;
    font-family: var(--font-family-secondary);
    font-stretch: expanded;
    font-size: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #mobile-nav #mobile-menu a {
    color: var(--font-color-light-secondary);
  }
  
  #mobile-nav #mobile-menu a:visited {
    color: var(--font-color-light-secondary);
  }
  
  #mobile-nav.show {
    display: block;
    animation: slideInLeft 0.5s ease-out forwards;
  }
  
  #mobile-nav.hide {
    animation: slideOutLeft 0.5s ease-out;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

@media (min-width: 650px){

  #mobile-nav #mobile-menu a {
    font-size: 28px;
  }

    #mobile-nav #mobile-menu {
      height: 90%;
      gap: 1000px;
    }
}
</style>