<div id="footer">
  <div class="content">
    <div class="side">
      <div class="menu">
        <div><a href="{{ collections['web-shop'].url }}" class="{% if template == 'collection' or template == 'product' %}wavy-underline{% endif %}">THE SHOP</a></div>
        <div><a href="/pages/nursery" class="{% if page.handle == 'nursery' %}wavy-underline{% endif %}">THE NURSERY</a></div>
        <div><a href="/pages/garden-design" class="{% if page.handle == 'garden-design' %}wavy-underline{% endif %}">GARDEN DESIGN</a></div>
      </div>
    </div>
    <div class="main">
      <img src="{{ 'inchworm.png' | asset_url }}" height="100px" width="auto"/>
    </div>
    <div class="side">
      Stay in touch
    </div>
  </div>
  <div id="footer-details">
    <span>Spring Road Nursery </span>      
    <span>78 Spring Rd </span>      
    <span>Tunbridge, VT 05077  </span>      
    <span>(802) 276-6481</span>
  </div>
</div>
<style>
   @font-face {
      font-family: "Akzidenz-Grotesk Pro", sans-serif;
      src: url('{{ "akzidenzgroteskpro_ext.otf" | asset_url }}') format('opentype');
      font-weight: normal;
      font-style: normal;
    }
    #footer {
      margin-top: 100px;
      margin-bottom: 100px;
      max-width: 600px;
    }
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #footer-details {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      text-transform: uppercase;
      font-family: var(--font-family-secondary);
      color: var(--font-color-dark);
      font-size: 12px;
    }
</style>