<div id="footer">
  <div id="footer-details">
    <span>Spring Road Nursery </span>      
    <span>78 Spring Rd </span>      
    <span>Tunbridge, VT 05077  </span>      
    <span>(802) 276-6481</span>
  </div>
</div>
<style>
    #footer-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
</style>