<div id="footer">
  <div id="footer-details">
    <span>Spring Road Nursery </span>      
    <span>78 Spring Rd </span>      
    <span>Tunbridge, VT 05077  </span>      
    <span>(802) 276-6481</span>
  </div>
</div>
<style>
   @font-face {
      font-family: "Akzidenz-Grotesk Pro", sans-serif;
      src: url('{{ "akzidenzgroteskpro_ext.otf" | asset_url }}') format('opentype');
      font-weight: normal;
      font-style: normal;
    }
    #footer {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    #footer-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      text-transform: uppercase;
      font-family: var(--font-family-secondary);
      color: var(--font-color-dark);
      font-size: 12px;
    }
</style>