<div id="footer">
  <div class="footer-content">
    <div class="footer-side">
      <div class="menu special">
        <a href="{{ collections['web-shop'].url }}" class="{% if template == 'collection' or template == 'product' %}wavy-underline{% endif %}">THE SHOP</a>
        <a href="/pages/nursery" class="{% if page.handle == 'nursery' %}wavy-underline{% endif %}">THE NURSERY</a>
        <a href="/pages/garden-design" class="{% if page.handle == 'garden-design' %}wavy-underline{% endif %}">GARDEN DESIGN</a>
        <a href="#">CONTACT US</a>
        <a href="https://www.instagram.com/springroadnursery/">INSTGRAM</a>
      </div>
    </div>
    <div class="main">
      <img src="{{ 'inchworm.png' | asset_url }}" height="125px" width="auto"/>
    </div>
    <div class="footer-side">
      <div class="special underline-wavy">
        Keep In touch
      </div>
      <div class="side-text">
        From rare plants to handcrafted goods,
        <br/>
        we cultivate the strange and the beautiful
        <br/>
        on our mountainside in Vermont.  
        <br/>
        Be the first to hear about 
        <br/>
        what’s unfurling in the garden.
      </div>
    </div>
  </div>
  <div id="footer-details" class="special">
    <span>Spring Road Nursery </span>      
    <span>78 Spring Rd </span>      
    <span>Tunbridge, VT 05077  </span>      
    <span>(802) 276-6481</span>
  </div>
</div>
<style>
   @font-face {
      font-family: "Akzidenz-Grotesk Pro", sans-serif;
      src: url('{{ "akzidenzgroteskpro_ext.otf" | asset_url }}') format('opentype');
      font-weight: normal;
      font-style: normal;
    }
    #footer {
      margin-top: 100px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footer-content {
      max-width: 750px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer-side {
      font-family: var(--font-family);
      width: 33%;

      .side-text {
        line-height: 1;
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .special {
      font-family: var(--font-family-secondary);
    }
    #footer-details {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      text-transform: uppercase;
      color: var(--font-color-dark);
      font-size: 12px;
    }

</style>