<div id="img-container">
    <img src="{{ 'goldenrods.png' | asset_url }}" height="630px" width="auto"/>
</div>
<div class="garden-design-menu">
    <div><a href="#">What We Do</a></div>
    <div><a href="#">Our Hours</a></div>
    <div><a href="#">Our Plants</a></div>
    <div><a href="#">Contact Us</a></div>
</div>
<div id="garden-design-content">
    <img class="desktop-pic" src="{{ 'coming-soon.png' | asset_url }}" height="auto" width="auto"/>
    <img class="mobile-pic" src="{{ 'coming.png' | asset_url }}" height="auto" width="auto"/>
    <img class="mobile-pic" src="{{ 'soon.png' | asset_url }}" height="auto" width="auto"/>
    <div class="text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
deserunt mollit anim id est laborum.   
    </div>
</div>

<style>
#img-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    img {
        max-width: 1370px;
        width: 100%;
        height: auto;
    }
}

#garden-design-content {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;

    img {
        margin-top: 100px;
        align-self: center;
        max-width: 100%;
        height: auto;
    }

    .text {
        font-size: 25px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 850px;
        width: 100%;
        line-height: 1.15;
        color: var(--font-color-dark);
        text-align: center;
    }
    .special-text {
        font-family: var(--font-family-secondary);
    }
    .center {
        text-align: center;
    }
    a {
        font-size: 20px;
    }
}

.garden-design-menu {
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    max-width: 500px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}

.mobile-pic {
    display: none;
}

@media (max-width: 768px) {
    #garden-design-content .text {
        font-size: 18px;
    }

    .mobile-pic {
        display: inline-block;
    }
    .desktop-pic { 
        display: none;
    }
}
</style>